{% extends "base.html" %}
{% block title %}
  SignUp
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            <div class="alert alert-info">회원 정보를 입력해주세요.</div>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="SignUp" />
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}